* {
    background: black;
}
.planets {
    background: black;
}

.Navlist{
    color: white;
    list-style: none;
}

.navbar {
    display: flex;
    text-align: center;
}

.planets {
    width: 1500px;
    height: 1500px;
   
    
}

.sun {
    width:37.5px;
    height:37.5px;
    position: absolute;
    top: 50% ;
    left: 50%;
    z-index: 11;

}


.mercury {
    z-index: 10;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-25%,-25%);
    animation: Mercury 2.5s infinite linear; 
    background: none;
   

}

.venus {
    width: 109px;
    height: 109px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-33%, -32%);
    animation: Venus 2.8s infinite linear;
    background: none;

}

.earth {
    width: 157px;
    height: 157px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    transform: translate(-39%, -38%);
    animation: Earth 3.5s infinite linear;
    background: none;
}

.mars {
    width: 217px;
    height: 217px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 7;
    transform: translate(-42%, -42%);
    animation: Mars 4s infinite linear;
    background: none;
}

.jupiter {
    width: 327px;
    height: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-40%, -45%);
    animation: Jupiter 4.5s infinite linear;
    background: none;
}
.saturn {
    width: 462px;
    height: 462px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-43%, -46%);
    animation: Saturn 5s infinite linear;
    background: none;
}

.uranus {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-43%, -46%);
    animation: Uranus 5.5s infinite linear;
    background: none;
}
.neptune {
    width: 1055px;
    height: 1055px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-42%, -46%);
    animation: Neptune 6s infinite linear;
    background: none;
}

@keyframes Mercury {

    0%{
        transform: translate(-25%,-25%) rotate(0deg);
    }
    100%{
        transform: translate(-25%,-25%) rotate(360deg);
    }
    
    
}

@keyframes Venus {

    0%{
        transform: translate(-33%, -32%) rotate(0deg);
    }
    100%{
        transform: translate(-33%, -32%) rotate(360deg);
    }
    
    
}
@keyframes Earth {

    0%{
        transform: translate(-39%, -38%) rotate(0deg);
    }
    100%{
        transform: translate(-39%, -38%) rotate(360deg);
    }
    
    
}

@keyframes Mars {

    0%{
        transform: translate(-42%, -42%) rotate(0deg);
    }
    100%{
        transform: translate(-42%, -42%) rotate(360deg);
    }
    
    
}

@keyframes Jupiter {

    0%{
        transform: translate(-40%, -45%) rotate(0deg);
    }
    100%{
        transform: translate(-40%, -45%) rotate(360deg);
    }
    
    
}

@keyframes Saturn {

    0%{
        transform: translate(-43%, -46%) rotate(0deg);
    }
    100%{
        transform: translate(-43%, -46%) rotate(360deg);
    }
    
    
}
@keyframes Uranus {

    0%{
        transform: translate(-43%, -46%) rotate(0deg);
    }
    100%{
        transform: translate(-43%, -46%) rotate(360deg);
    }
    
    
}
@keyframes Neptune {

    0%{
        transform: translate(-43%, -46%) rotate(0deg);
    }
    100%{
        transform: translate(-43%, -46%) rotate(360deg);
    }
    
    
}
.heading-main {
    text-align: center;
    color: white;
    background: black;
    font-family: sans-serif;
    font-size: 50px;

}

#form {
    text-align: center;
    color: white;
}

#query {
    color: black;
    background-color: white;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

button {
    height: 60px;
    width: 80px;
    background-color: rgb(95, 174, 240);
    border-radius: 5px;
    color: white;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .pan-title {
      background: white;
      color: grey;
      text-align: right;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-right: 20%;
      padding-top: 10px;
  }

  .planet-pic {
      background: none;
      width: 80px;
      height: 80px;
      position: absolute;
      padding-top: 10px;
  }



