* {
    background: black;
}
.planets {
    background: black;
}

.Navlist{
    color: white;
    list-style: none;
}

.navbar {
    display: flex;
    text-align: center;
}

.planets {
    width: 1500px;
    height: 1100px;
   
    
}

.sun {
    width:37.5px;
    height:37.5px;
    position: absolute;
    top: 50% ;
    left: 50%;
    z-index: 11;

}


.mercury {
    z-index: 10;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-25%,-25%);
    animation: Mercury 2.5s infinite linear; 
    background: none;
   

}

.venus {
    width: 109px;
    height: 109px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-33%, -32%);
    animation: Venus 2.8s infinite linear;
    background: none;

}

.earth {
    width: 157px;
    height: 157px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    transform: translate(-39%, -38%);
    animation: Earth 3.5s infinite linear;
    background: none;
}

.mars {
    width: 217px;
    height: 217px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 7;
    transform: translate(-42%, -42%);
    animation: Mars 4s infinite linear;
    background: none;
}

.jupiter {
    width: 327px;
    height: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-40%, -45%);
    animation: Jupiter 4.5s infinite linear;
    background: none;
}
.saturn {
    width: 440px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-43%, -46%);
    animation: Saturn 5s infinite linear;
    background: none;
}

.uranus {
    width: 650px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-43%, -46%);
    animation: Uranus 5.5s infinite linear;
    background: none;
}
.neptune {
    width: 950px;
    height: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-42%, -46%);
    animation: Neptune 6s infinite linear;
    background: none;
}

@keyframes Mercury {

    0%{
        transform: translate(-25%,-25%) rotate(0deg);
    }
    100%{
        transform: translate(-25%,-25%) rotate(360deg);
    }
    
    
}

@keyframes Venus {

    0%{
        transform: translate(-33%, -32%) rotate(0deg);
    }
    100%{
        transform: translate(-33%, -32%) rotate(360deg);
    }
    
    
}
@keyframes Earth {

    0%{
        transform: translate(-39%, -38%) rotate(0deg);
    }
    100%{
        transform: translate(-39%, -38%) rotate(360deg);
    }
    
    
}

@keyframes Mars {

    0%{
        transform: translate(-42%, -42%) rotate(0deg);
    }
    100%{
        transform: translate(-42%, -42%) rotate(360deg);
    }
    
    
}

@keyframes Jupiter {

    0%{
        transform: translate(-40%, -45%) rotate(0deg);
    }
    100%{
        transform: translate(-40%, -45%) rotate(360deg);
    }
    
    
}

@keyframes Saturn {

    0%{
        transform: translate(-43%, -46%) rotate(0deg);
    }
    100%{
        transform: translate(-43%, -46%) rotate(360deg);
    }
    
    
}
@keyframes Uranus {

    0%{
        transform: translate(-43%, -46%) rotate(0deg);
    }
    100%{
        transform: translate(-43%, -46%) rotate(360deg);
    }
    
    
}
@keyframes Neptune {

    0%{
        transform: translate(-43%, -46%) rotate(0deg);
    }
    100%{
        transform: translate(-43%, -46%) rotate(360deg);
    }
    
    
}
.heading-main {
    text-align: center;
    color: white;
    background: black;
    font-family: sans-serif;
    

}

.heading-main h1 {
    margin: 0px;
    padding-bottom: 40px;
    font: 500;
    font-size: 70px;
}
#google {
    font-size: 90px;
}

#form {
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

#query {
    color: black;
    background-color: white;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

button {
    height: 60px;
    width: 80px;
    background-color: rgb(95, 174, 240);
    border-radius: 5px;
    color: white;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  #temp {
    background: white;
    color: grey;
    display: inline-flex;
    text-align: right;
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: none;
    font-weight: 300;
    transform: translate(110px, 30px);
    margin: 0;  
}

  .pan-title {
      background: white;
      color: grey;
      display: inline-flex;
      text-align: right;
      font-size: 40px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-right: 10%;
      float: right;
      font-weight: 500;
      
  }

  .planet-pic {
      background: none;
      width: 80px;
      height: 80px;
      position: absolute;
      padding-top: 20px;
      padding-bottom: 10%;
  }
  .panel p {
      background: white;
  }

  .line {
      width: 3px;
      height: 20px;
      background: rgb(155, 152, 152);
      display: inline-flex;
      position: relative;
      padding-top: 10px;
      transform: translate(113px, -35px);
  }

  .symbol_C {
      background: none;
      color: grey;
      font-size: 30px;
      display: inline-flex;
      position: relative;
      transform: translate(110px, -40px);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .symbol_F {
    background: none;
    color: grey;
    font-size: 30px;
    display: inline-flex;
    position: relative;
    transform: translate(115px, -40px);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .symbol_F:hover {
      color: darkgrey;
  }

  .symbol_C:hover {
      color: darkgrey;
  }

  .info-section {
      justify-content: center;
      float: inline-start;
      display: inline-flex;
      background-color: white;
      padding-left: 20%;
  }

  .info_list li {
      background-color: white;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
      margin: 10px;

  }
  .info_list {
      list-style: none;
      background: white;
      margin: none;
      justify-items: center;
      transform: translate();
  }

  #left, #right {
      background-color: white;
  }

  #left {
      transform: translate(-300px, 150px);
      margin-bottom: 200px;
  }

  #right {
    transform: translate(0, 150px);
    margin-bottom: 200px;
}

.info_list span{
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 10px;
}

#panel p {
    background-color: white;
    color: gre;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 10px;
    padding-bottom: 50px;
}
#panel {
    background: white;
}

.footer {
    width: 100%;
    height: 300px;
    padding-bottom: 300px;
}

#panel_moon h3  {
    background-color: white;
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding-top: 30px;
    font-size: 20px;
    margin: 10px;
    padding-bottom: 30px;
    border-width: 3px;
    
}

#panel_moon {
    background: white;
}

#panel_moon p  {
    background-color: white;
    color: grey;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-width: 3px;
    padding: 5px;
    
}






